body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.header-web {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}

.header-studio {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2e2f42;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #4d5ae5;
}

.socials-mail {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.socials-phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.hero {
  background-color: #2e2f42;
}

.hero-top-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.modal-btn {
  height: 56px;
  width: 169px;
  left: 636px;
  top: 428px;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  color: rgba(0, 0, 0, 0.15);
}

.Info {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.hero-second-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.section-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.advantages {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.footer-web {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}

.footer-studio {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #f4f4fd;
}

.footer-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #e7e9fc;
}
